{% extends 'base.html' %}

{% block title %}VaccineCare{% endblock %}

{% block registration %}
<ul class="navbar-nav">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle active" href="#" data-bs-toggle="dropdown" aria-expanded="false">{{user.username}}</a>
    <ul class="dropdown-menu" style="min-width: auto;">
      <li><button class="dropdown-item btn btn-light btn-login"><a href="{{url_for('logout')}}">Log out</a></button></li>
    </ul>
  </li>
</ul>

{% endblock %}

{% block body %}
<main class="container text-center">
    <div class="row justify-content-md-center mt-5">
      <h2 class="col-md-auto">
        Welcome {{user.type}} {{user.username}}
      </h2>
    </div>
{% if user.type == 'User' %}
  <div class="row justify-content-md-center mt-2 px-2">
    <p class="col-md-auto">
      U can apply {{user.admission_count}} Admission for Vaccination
    </p>
  </div>
{% else %}
  <div class="row justify-content-md-center mt-2 px-2">
    <p class="col-md-auto">
      Check for any vaccination centre and add them to the database.
    </p>
  </div>
  <div class="row justify-content-md-center mt-2 px-2">
    <button type="button" class="btn btn-primary w-auto p-2 px-3 mx-auto"><a href="{{url_for('centerRegister')}}">Add Centre</a></button>
  </div>
{% endif %}
</main>
{% if centres|length < 1 %}
<section class="container text-center">
    <div class="row justify-content-md-center mt-2 px-2">
        <p class="col-md-auto">
          There is no Vaccination Center Available. PLease wait
        </p>
    </div>
</section>
{% else %}
<form action="" method="post">
  <table class="table table-striped table-hover mt-5 mx-auto" style="width: 85%;">
      <thead>
        <tr>
          <th scope="row"></th>
          <td class="col">
          </td>
          <td class="col">
            <select class="form-control" id="working_hours" name="working_hours">
              <option selected value="null">Any Hours</option>
              {% for hour in hours_list %}
              <option value="{{hour}}">{{hour}}</option>
              {% endfor %}
            </select>
          </td>
          <td class="col">
            <select class="form-control" id="location" name="location">
              <option selected value="null">All Location</option>
              {% for location in locations_list %}
              <option value="{{location}}">{{location}}</option>
              {% endfor %}
            </select>
          </td>
          <td class="col">
            <select class="form-control" id="dosage" name="dosage">
              <option selected value="null">Any Dosage</option>
              {% for dosage in dosages_list %}
              <option value="{{dosage}}">{{dosage}}ml</option>
              {% endfor %}
            </select>
          </td>
          <td class="col">
            <button type="submit" class="btn btn-outline-danger">Search</button>
          </td>
      </tr>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Centre</th>
          <th scope="col">Working Hours</th>
          <th scope="col">Location</th>
          <th scope="col">Dosages</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>        
          {% for centre in centres %}
          <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{centre.hospital}}</td>
              <td>{{centre.working_hours}}</td>
              <td>{{centre.location}}</td>
              <td>
                <div class="row justify-content-md-center">
                  {% for dosage in centre.dosages.split(", ") %}
                  <div class="col-12 mx-auto">
                    {{dosage[1:dosage|length - 1]}}ml
                  </div>
                  {% endfor %}
                </div>
              </td>
              <td>
                {% if user.type == 'User' %}
                <button type="button" class="btn btn-primary btn-sm"><a href="/admission/centre={{centre.id}}">Apply</a></button>
                {% else %}
                <button type="button" class="btn btn-primary btn-sm my-1"><a href="/modify/{{centre.id}}">Modify</a></button>
                <button type="button" class="btn btn-danger btn-sm my-1"><a href="/delete/{{centre.id}}">Delete</a></button>
                {% endif %}
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
</form>
{% endif %}
{% endblock %}